<div ng-app="main" ng-controller="hatController">
    <section>
        <h2>The Hat</h2>
        <form ng-submit="addPersonToHat()">
            <input type="text" ng-model="newPersonName" /> <button class="btn btn-info">+</button>
        </form>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="person in names track by $index">{{person.Name}}</li>
        </ul>
    </section>
    <section>
        <input type="number" ng-model="groupSize" min="2" max="{{names.length}}" />
        <input type="text" ng-model="groupName" />
        <button class="btn btn-success" ng-click="createGroups()">Create Groups</button>
    </section>
    <section>
        <div ng-repeat="group in groups track by $index">
            <ul>
                <li ng-repeat="person in group.People track by $index">{{person.Name}}</li>       
            </ul>
            <hr/>
        </div>
    </section>
</div>